---
layout: default
---

<div class='container'>
  <header class="masthead text-center">

    <img class='img-responsive center-block' src="/images/people/a402_1.jpg" width="100%" height="100%" />

      <span style="display: block; margin-bottom: 2em"></span>
    <div class="intro">
      <h2>
        <span class="first-letter">T</span>rusted <span class="first-letter">C</span>omputing <span class="first-letter">&</span> <span class="first-letter">S</span>ecurity Lab
      </h2>

      <span style="display: block; margin-bottom: 1em"></span>
      <h2>可信计算与安全实验室</h2>
      <span style="display: block; margin-bottom: 1.5em"></span>

      <h3>About us</h3>

      <p>
      Trusted Computing & Security Lab (TC&S)隶属于武汉大学国家网络安全学院，教育部空天信息安全与可信计算重点实验室，长期承担可信计算、可信人工智能、大模型安全等研究课题与科研项目。TC&S Lab聚焦于世界前沿的网络空间安全技术，致力于为学术界和工业界发掘新的安全问题并提供切实的解决方案。目前实验室已发表数十篇高水平论文并承担多项国家级省级重大项目，并为安全领域培养了大量的优秀人才。
      <br><br>
      The Trusted Computing & Security Lab (TC&S) is affiliated with the School of Cyber Science and Engineering at Wuhan University, under the Key Laboratory of Aerospace Information Security and Trusted Computing, Ministry of Education. The lab is dedicated to long-term research initiatives and projects in trusted computing, trusted artificial intelligence, and LLMs for safety. Our mission is to identify emerging cybersecurity challenges and provide viable solutions for both the academia and industry. To date, TC&S members have published numerous high-impact papers and undertaken several significant national and provincial research projects, contributing to the development of a substantial number of leading professionals in the cybersecurity field.
      </p>

      <h3>Research</h3>

      <h4>System Security</h4>
      <p>
      We are committed to the research of trusted computing represented by TPM aiming to build secure and reliable trusted systems. We aim to provide secure foundations for cloud security, big data, blockchain, SDN, and other technologies. In recent years, building on the foundation of trusted computing research, we have expanded our scope to Confidential Computing and are dedicated to research in the design and application of trusted execution environment architectures.
      </p>

      <h4>AI Security</h4>
      <p>
      We are focused on exploring and developing efficient solutions to address critical issues surrounding Privacy. We particularly emphasize the formulation of flexible and robust attack/defense strategies throughout the entire lifecycle of deep learning models, including data collection, model training/inference, and deployment. Additionally, we actively integrate AI technologies with Traditional Security Domains such as confidential computing, binary analysis, and vulnerability discovery, aiming to contribute to a wider range of security.     <p>
      </p>
    </div>



      <span style="display: block; margin-bottom: 3em"></span>

      <a href="mailto:jwang@whu.edu.cn"><i class="fa fa-envelope-o"></i> jwang@whu.edu.cn</a>&nbsp;&nbsp;&nbsp;
      <a href="https://cse.whu.edu.cn/info/1098/1763.htm"><i class="fa fa-internet-explorer"></i> Professor's Homepage</a>
    </p>

    <div class="w3-container"
      style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
      <div style="text-align:left">
        <h3> Recent News </h3>
        <!-- <u>Happenings of the last few months</u> -->
        <span style="display: block; margin-bottom: 1em"></span>
        <div class="news">
          {% capture now %}{{'now' | date: '%s' | minus: 77760000 %}}{% endcapture %}
          <ul style="list-style-position:outside;padding:20px">
            {% for new in site.data.news %}
            {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
            <!-- {% if date > now %} -->
            <li>
              <!-- <span>
                {{new.title}}
              </span> -->
              <span>
                {{ new.details }}
              </span>
            </li>
            <!-- {% endif %} -->
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <span style="display: block; margin-bottom: 3em"></span>

    <span style="display: block; margin-bottom: 3em"></span>
    School of Cyber Science and Engineering | Wuhan University <br>
    武汉大学 国家网络安全学院 | 中国湖北省武汉市东西湖区国家网络安全人才与创新基地
    <span style="display: block; margin-bottom: 2em"></span>

  </header>
</div>
