<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span style="font-family: 'Open Sans'; font-weight: 400"
        >{{ site.name }}</span
      >
    </a>
    <!-- Brand and toggle get grouped for better mobile display -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for nav in site.nav %}
        <li><a class="nav-link" href="{{ nav.href }}">{{ nav.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
